@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #02de5a;
}

* {
  box-sizing: border-box;
}

body {
    @apply bg-cyan-950 text-white;
    font-family: var(--font-vt323), monospace;
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--font-tekur), monospace;
  }
  
  .dark body {
    @apply bg-gray-900 text-white;
  }

  .gradient-fade-left,
.gradient-fade-right {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.gradient-fade-left {
  left: 0;
  background: linear-gradient(to right, rgb(1, 9, 30), transparent);
}

.gradient-fade-right {
  right: 0;
  background: linear-gradient(to left, rgb(1, 9, 30), transparent);
}
