@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #02de5a;
}

* {
  box-sizing: border-box;
}

body {
    @apply bg-cyan-950 text-white;
    font-family: var(--font-vt323), monospace;
  }

  h1, h2, h3, h4, h5 {
    font-family: var(--font-tekur), monospace;
  }
  
  .dark body {
    @apply bg-gray-900 text-white;
  }